$regions: (
  "eu-north-1": (
    color: #000000,
    flag: "🏴‍☠️"
  ),
  "ap-south-1": (
    color: #000000,
    flag: "🏴‍☠️"
  ),
  // "eu-west-3": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "eu-west-2": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "eu-west-1": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "ap-northeast-2": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "ap-northeast-1": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "sa-east-1": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  "ca-central-1": (
    color: #c62828,
    flag: "🇨🇦"
  ),
  // "ap-southeast-1":
  // (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "ap-southeast-2": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  // "eu-central-1": (
  //   color: #000000,
  //   flag: "🏴‍☠️"
  // ),
  "us-east-1": (
    color: #2e7d32,
    flag: "🇺🇸"
  ),
  "us-east-2": (
    color: #4527a0,
    flag: "🇺🇸"
  ),
  "us-west-1": (
    color: #6a1b9a,
    flag: "🇺🇸"
  ),
  "us-west-2": (
    color: #ad1457,
    flag: "🇺🇸"
  ),
);
