$regions: (
  "ap-east-1": (
    color: #9e9d24,
    flag: "🇭🇰"
  ),
  "me-south-1": (
    color: #1565c0,
    flag: "🇧🇭"
  ),
  "eu-north-1": (
    color: #0097a7,
    flag: "🇸🇪"
  ),
  "ap-south-1": (
    color: #5d4037,
    flag: "🇮🇳"
  ),
  "eu-west-3": (
    color: #00796b,
    flag: "🇫🇷"
  ),
  "eu-west-2": (
    color: #bf360c,
    flag: "🇬🇧"
  ),
  "eu-west-1": (
    color: #263238,
    flag: "🇮🇪"
  ),
  "ap-northeast-2": (
    color: #006064,
    flag: "🇰🇷"
  ),
  "ap-northeast-1": (
    color: #f57f17,
    flag: "🇯🇵"
  ),
  "sa-east-1": (
    color: #e65100,
    flag: "🇧🇷"
  ),
  "ca-central-1": (
    color: #c62828,
    flag: "🇨🇦"
  ),
  "ap-southeast-1": (
    color: #880e4f,
    flag: "🇸🇬"
  ),
  "ap-southeast-2": (
    color: #673ab7,
    flag: "🇦🇺"
  ),
  "eu-central-1": (
    color: #3f51b5,
    flag: "🇩🇪"
  ),
  "us-east-1": (
    color: #2e7d32,
    flag: "🇺🇸"
  ),
  "us-east-2": (
    color: #4527a0,
    flag: "🇺🇸"
  ),
  "us-west-1": (
    color: #6a1b9a,
    flag: "🇺🇸"
  ),
  "us-west-2": (
    color: #ad1457,
    flag: "🇺🇸"
  )
);
